<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @painting.name %>
<%= image_tag @painting.image_url if @painting.image? %>
</p>


<%= link_to 'Edit', edit_painting_path(@painting) %> |
<%= link_to 'Back', paintings_path %>
