<!DOCTYPE html>
<html>
<head>
  <title>Somephotos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	      <div class="container">
	        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </a>
			<%= link_to paintings_path do %>	
	        <div class="brand">Somephotos </div>
			<%end%>
	        <div class="nav-collapse">
	          <ul class="nav">
	            <li><%= link_to "Create seller account", new_seller_path %></li>
	            <li><%= link_to "Upload", new_painting_path %></li>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </div>
	
<div class="container">
	<div class="row-fluid">
		<div class="span12"><%= yield %></div>
</div>
</div>
</body>
</html>
